// colors
@bodyContentBackgroundColor: #222;
@headingbackgroundColor: #333;
@contentColor: #fff;

@headingHighlight: #E03C31;
@rowBackgroundColor: #333;

// modular 
.mainTableFlex {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.tableFlex {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


.center {
	margin: auto;
    width: 50%;
    border: 3px solid green;
}

.centerText {
	text-align: center;
	vertical-align: middle;
}

.row {
	background-color: @rowBackgroundColor;
	height: 10%;
	width: 100%;
	border: 3px solid green;
	margin: 10px 0px;
	overflow: hidden;
}

.content {
	width: 100%;
	background-color: @bodyContentBackgroundColor;
	color: @contentColor;
}



